:root {
	--color_bronze  : rgb(180, 120,  50);
	--color_copper  : var(--color_bronze);
	--color_silver  : rgb(200, 190, 170);
	--color_gold    : rgb(255, 192,   0);
	--color_platinum: rgb(220, 250, 255);

	--color_border_table:    var(--color_bronze);
	--color_border_button:   var(--color_bronze);
	--color_background_red:  radial-gradient(circle, #8b0000, #400000);
	--color_background_blue: radial-gradient(circle, #00008b, #000040);
}
@font-face {
    font-family: "trattatello";
    src: url(./Trattatello.ttf) format("truetype");
}
@font-face {
    font-family: "pirate_font";
    src: url(./JackPirate.ttf) format("truetype");
}
@font-face {
    font-family: "rapscallion";
    src: url(./Rapscallion.ttf) format("truetype");
}


* 
	{
	font-family: trattatello, cursive, Arial, Serif, Sans-serif;
	
	font-weight: 1;
	}
	
body
	{
	padding: 0;
	margin:  0;
		
	background-color: rgb(0, 0, 0);
	color: rgb(240, 240, 245);
	font-size: 18px;
	
	background-image: url("./background.jpg");
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	}
	
.long_text
	{
	font-family: Arial, Serif;
	}

h1, h2, h3, h4, h5, h6 
	{
	color: rgb(255, 255, 255);
	/*animation: text-shadow 1.5s ease-in-out infinite;*/
	text-shadow:	/*Outline*/
					rgba(0, 0, 0, .3) -1px  0px  1px, 
					rgba(0, 0, 0, .3)  1px  0px  1px, 
					rgba(0, 0, 0, .3)  0px -1px  1px, 
					rgba(0, 0, 0, .3)  0px  1px  1px,
					/*Fire*/
					rgb(255, 255, 255) 0px -1px   4px, 
					rgb(255, 255,   0) 0px -2px  10px, 
					rgb(255, 128,   0) 0px -10px 20px, 
					rgb(255,   0,   0) 0px -18px 40px,
					/*Ice*/
					rgb(255, 255, 255) 0px  1px   4px, 
					rgb(  0, 255, 255) 0px  2px  10px, 
					rgb(  0, 128, 255) 0px  10px 20px, 
					rgb(  0,   0, 255) 0px  18px 40px;
					
	}
	
@keyframes text-shadow {
    0% {  
        text-shadow:	/*Fire*/
						rgb(255, 255, 255) -.4px -1px   4px, 
						rgb(255, 255,   0)  .8px -2px  10px, 
						rgb(255, 128,   0)   2px -10px 20px, 
						rgb(255,   0,   0)   1px -18px 40px,
						/*Ice*/
						rgb(255, 255, 255)   0px  1px   4px, 
						rgb(  0, 255, 255)   0px  2px  10px, 
						rgb(  0, 128, 255)   0px  10px 20px, 
						rgb(  0,   0, 255)   0px  18px 40px;
    }

    20% {  
        text-shadow:	/*Fire*/
						rgb(255, 255, 255)  .4px -1px   4px, 
						rgb(255, 255,   0) -.8px -2px  10px, 
						rgb(255, 128,   0)  -2px -10px 20px, 
						rgb(255,   0,   0)  -1px -18px 40px,
						/*Ice*/
						rgb(255, 255, 255)   0px  1px   4px, 
						rgb(  0, 255, 255)   0px  2px  10px, 
						rgb(  0, 128, 255)   0px  10px 20px, 
						rgb(  0,   0, 255)   0px  18px 40px;
    }

    40% {  
        text-shadow:	/*Fire*/
						rgb(255, 255, 255) -.4px -1px   4px, 
						rgb(255, 255,   0)  .8px -2px  10px, 
						rgb(255, 128,   0)   3px -10px 20px, 
						rgb(255,   0,   0)   2px -18px 40px,
						/*Ice*/
						rgb(255, 255, 255)   0px  1px   4px, 
						rgb(  0, 255, 255)   0px  2px  10px, 
						rgb(  0, 128, 255)   0px  10px 20px, 
						rgb(  0,   0, 255)   0px  18px 40px;
    }
    
   60% {
        text-shadow:	/*Fire*/
						rgb(255, 255, 255)  .4px -1px   4px, 
						rgb(255, 255,   0) -.8px -2px  10px, 
						rgb(255, 128,   0)  -2px -10px 20px, 
						rgb(255,   0,   0)  -1px -18px 40px,
						/*Ice*/
						rgb(255, 255, 255)   0px  1px   4px, 
						rgb(  0, 255, 255)   0px  2px  10px, 
						rgb(  0, 128, 255)   0px  10px 20px, 
						rgb(  0,   0, 255)   0px  18px 40px;
    }

    80% {  
        text-shadow:	/*Fire*/
						rgb(255, 255, 255)   0px -1px   4px, 
						rgb(255, 255,   0)   0px -2px  10px, 
						rgb(255, 128,   0)   0px -10px 20px, 
						rgb(255,   0,   0)   0px -18px 40px,
						/*Ice*/
						rgb(255, 255, 255)   0px  1px   4px, 
						rgb(  0, 255, 255)   0px  2px  10px, 
						rgb(  0, 128, 255)   0px  10px 20px, 
						rgb(  0,   0, 255)   0px  18px 40px;
    }
}

input, textarea
	{
	background-color: aqua;
	background:               var(--color_background_red);
	border-top:    4px groove var(--color_border_button);
	border-left:   4px ridge  var(--color_border_button);
	border-right:  4px groove var(--color_border_button);
	border-bottom: 4px ridge  var(--color_border_button);
	color: rgb(240, 240, 245);
	font-size: 18px;
	}
	
/*/////////////////////////////////////////////////////////////////////////////// TABLE */
td input
	{
	border: none;
	color: rgb(240, 240, 245);
	font-size: 18px;
	}
	
td span
	{
	margin: 0 .2em;
	}

td.numeric, td .numeric
	{
	padding: 0em .4em;
	}

.numeric
	{
	text-align: right;
	}

table 
	{
	border-collapse: collapse; 
	background: radial-gradient(circle, rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
	}
tr
	{
	height: 100%;
	border-width: 4px;
	border-style: ridge;
	/*border-collapse: collapse;*/
	border-color: var(--color_border_table);
	}
th { padding: 0 1em; }
th, td
	{
	height: 100%;
	border-width: 1px;
	border-style: solid;
	/*border-collapse: collapse;*/
	border-color: var(--color_border_table);
	}
	
button, .button
	{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	}

/*/////////////////////////////////////////////////////////////////////////////// BUTTON */
button, .button
	{
	margin: 2px;
	letter-spacing: 2px;
	border-radius: 8px;
	color: var(--color_gold);
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0 1px 3px #000;
	text-align: center;
	padding: .05em .4em;
	background:               var(--color_background_red);
	border-top:    4px ridge  var(--color_border_button);
	border-left:   4px groove var(--color_border_button);
	border-right:  4px ridge  var(--color_border_button);
	border-bottom: 4px groove var(--color_border_button);
	box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
	}
td button, th button
	{
	margin: 0px;
	letter-spacing: 2px;
	border-radius: 8px;
	color: var(--color_gold);
	font-size: 18px;
	font-weight: 400;
	text-shadow: 0 1px 3px #000;
	text-align: center;
	padding: 0 .2em;
	background:               var(--color_background_red);
	border-top:    2px ridge  var(--color_border_button);
	border-left:   2px groove var(--color_border_button);
	border-right:  2px ridge  var(--color_border_button);
	border-bottom: 2px groove var(--color_border_button);
	box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
	}

button:hover, .button:hover
	{
	background: radial-gradient(circle, #e52b2b, #8b0000);
	box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
	}

button:active, .button:active
	{
	background: radial-gradient(circle, #ec6a6a, #e52b2b);
	box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
	}
	
button.current
	{
	background: var(--color_background_blue);
	color:      var(--color_platinum);
	}
	
/*/////////////////////////////////////////////////////////////////////////////// NAVBAR */
ul.navbar
	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

ul.navbar li
	{
	/*float: left;*/
	display: inline;
	}

ul.navbar li button, ul.navbar li .button
	{
	border-radius: 0;
	}
	
/*/////////////////////////////////////////////////////////////////////////////// TOOLTIP */
.tooltip 
	{
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	}

.tooltip .tooltiptext 
	{
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
	}

.tooltip .tooltiptext::after 
	{
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	}

.tooltip:hover .tooltiptext 
	{
	visibility: visible;
	}